<h1>Write a new article here!</h1>
<form action="/articles" method="POST">
    <label for="title">Article Title:</label>
    <input type="text" name="title"> <br>
    <label for="content">Article Body:</label> <br>
    <textarea name="content" rows="10" cols="50"></textarea> <br>
    <input type="submit" id="Submit">
</form>